<pagination ng-model="currentPage" total-items="totalItems" items-per-page="itemsPerPage"></pagination>
<table class="table table-condensed table-striped">
  <thead>
    <tr><th>Title</th><th>SubTitle</th></tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="book in books">
      <td>{{book.title}}</td>
      <td>{{book.subTitle}}</td>
      <td>
      <td>
        <button type="button" ng-click="editBook(book.id)" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-edit"></i></button>
        <button type="button" ng-click="removeBook(book.id)" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove-circle"></i></button>
      </td>
      </td>
    </tr>
  </tbody>
</table>