<div class="jumbotron">
  <div class="container">
    <h1>BookShopDemo</h1>
    <p>Welcome at the <strong>BookShop</strong> project. This is a conceptual and architectural demo using <a href="http://getbootstrap.com/">Bootstrap</a>, <a href="http://requirejs.org/">RequireJS</a>, <a href="https://angularjs.org/"> Angular</a> and <a href="http://www.breezejs.com/">BreezeJS</a>. The sorces for this project can be found at <a href="https://github.com/dotnetautor/BookShopDemo">https://github.com/dotnetautor/BookShopDemo</a></p>
    <p><a href="#/books" class="btn btn-primary btn-lg" role="button">Show all Books »</a></p>
  </div>
</div>